<template>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <h4 class="mb-2">DATATABLE</h4>
                    <div class="card">
                        <div class="card-body">
                            <div class="title mb-30">
                                <Datatable
                                    ref="table"
                                    :_api="api"
                                    :_columns="columns"
                                    @rowClicked="rowClicked"
                                >
                                    <template v-slot:actions v-if="dataClicked">
                                        <button class="m-1 btn btn-outline-warning">
                                            <i class="fas fa-duotone fa-magnifying-glass"></i>
                                        </button>
                                        <button
                                            class="m-1 btn btn-outline-primary"
                                            @click="btnEdit"
                                        >
                                            <i class="fas fa-duotone fa-pencil fa-beat-fade"></i>
                                        </button>
                                        <button
                                            class="m-1 btn btn-outline-danger"
                                            @click="btnDelete"
                                        >
                                            <i class="fas fa-duotone fa-trash"></i>
                                        </button>
                                    </template>
                                </Datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { axiosApi } from '@/helpers.ts'
import { ref } from 'vue'
export default {
    data() {
        return {
            name: 'Example Datatable',
            dataClicked: null
        }
    },
    computed: {
        api() {
            return {
                model: 'example',
                params: {}
            }
        },
        columns() {
            return [
                { headerName: '#', field: '__auto', maxWidth: 60, suppressSizeToFit: true },
                { field: 'created_at' },
                { field: 'name', editable: true },
                { field: 'seq', headerName: 'Sequence' },
                {
                    field: 'custom column',
                    cellRenderer: (params) => {
                        let data = params.data
                        if (data.status == 'active') {
                            var badge = `<span class="badge bg-success">${data.status}</span>`
                        } else {
                            var badge = `<span class="badge bg-danger">${data.status}</span>`
                        }
                        return badge
                    }
                }
            ]
        }
    },
    methods: {
        rowClicked(event) {
            this.dataClicked = event
        },
        btnEdit() {
            alertify.success(
                `Anda tekan tombol edit gaes, untuk baris nomor ${this.dataClicked.rowIndex + 1}`
            )
        },
        btnDelete() {
            alertify.confirm(
                'Perhatian',
                `Anda yakin ingin menghapus baris nomor ${this.dataClicked.rowIndex + 1} ini ?`,
                function () {
                    alertify.success('Ok')
                },
                function () {
                    alertify.error('Cancel')
                }
            )
        }
    },
    created() {
        window.me = this
    }
}
</script>
