<template>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="title mb-30">
                                <Datatable
                                    ref="table"
                                    :_api="api"
                                    :_columns="columns"
                                    @rowClicked="rowClicked"
                                >
                                    <template v-slot:actions>
                                        <ActionButtonIndex
                                            :show="dataClicked ? true : false"
                                            @onCreate="onCreate"
                                            @onPreview="onPreview"
                                            @onEdit="onEdit"
                                            @onDelete="onDelete"
                                        />
                                    </template>
                                </Datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { useRoute, useRouter } from 'vue-router'
import { axiosApi, formatThousand, formatRPThousand } from '@/helpers.ts'
import ImageSrc from '../../../_handler/ImageSrc.vue'
export default {
    name: 'product',
    data() {
        const route = useRoute()
        const router = useRouter()
        return {
            model: 'product',
            route,
            router,
            dataClicked: null
        }
    },
    computed: {
        api() {
            return {
                model: this.model,
                params: {}
            }
        },
        columns() {
            return [
                { headerName: '#', field: '__auto', maxWidth: 60, suppressSizeToFit: true },
                { headerName: 'Dibuat Pada', field: 'created_at', width: 110 },
                { headerName: 'Nama', field: 'name', width: 150 },
                {
                    headerName: 'Foto',
                    field: 'image',
                    width: 110,
                    cellStyle: { textAlign: 'center' },
                    cellRenderer: ImageSrc
                },
                {
                    headerName: 'Harga',
                    field: 'price',
                    editable: true,
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    headerName: 'Harga Jual',
                    field: 'selling_price',
                    editable: true,
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                { headerName: 'Deskripsi', field: 'description', editable: true }
            ]
        }
    },
    methods: {
        rowClicked(event) {
            this.dataClicked = event
        },
        onCreate(event) {
            this.router.replace(this.route.path + '/form')
        },
        onPreview() {
            const id = this.dataClicked.data.id
            this.router.replace(this.route.path + '/form' + `/${id}?preview=true`)
        },
        onEdit() {
            const id = this.dataClicked.data.id
            this.router.replace(this.route.path + '/form' + `/${id}`)
        },
        onDelete() {
            const self = this
            const id = self.dataClicked.data.id
            alertify.confirm(
                'Perhatian',
                `Anda yakin ingin menghapus baris nomor ${self.dataClicked.rowIndex + 1} ini ?`,
                () => {
                    axiosApi(self.model + `/${id}`, 'DELETE').then((response) => {
                        self.$refs.table.load()
                        alertify.success(response.message)
                    })
                },
                () => {}
            )
        }
    }
}
</script>
