<template>
    <div>
        <button
            v-if="!noCRUD"
            class="btn btn-primary mr-2"
            title="Tambah Data Baru"
            @click="_handlerCreate"
        >
            <i class="fa fa-plus"></i>
        </button>
        <button
            v-if="show"
            class="m-1 btn btn-outline-warning"
            title="Lihat Detail"
            @click="handlerPreview"
        >
            <i class="fas fa-duotone fa-magnifying-glass"></i>
        </button>
        <button
            v-if="show && !noCRUD"
            class="m-1 btn btn-outline-primary"
            title="Edit"
            @click="handlerEdit"
        >
            <i class="fas fa-duotone fa-pencil"></i>
        </button>
        <button
            v-if="show && !noCRUD"
            class="m-1 btn btn-outline-danger"
            title="Hapus"
            @click="handlerDelete"
        >
            <i class="fas fa-duotone fa-trash"></i>
        </button>
    </div>
</template>
<script>
export default {
    name: 'ActionButtonForm',
    emits: ['onCreate', 'onPreview', 'onEdit', 'onDelete'],
    props: {
        show: {
            type: Boolean,
            default: false
        },
        noCRUD: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        _handlerCreate(event) {
            this.$emit('onCreate', event)
        },
        handlerPreview(event) {
            this.$emit('onPreview', event)
        },
        handlerEdit(event) {
            this.$emit('onEdit', event)
        },
        handlerDelete(event) {
            this.$emit('onDelete', event)
        }
    }
}
</script>
