<template>
    <div>
        <button class="main-btn primary-btn btn-hover btn-sm" @click="handlerBack">
            <i class="fa-solid fa-arrow-left"></i> Kembali
        </button>
        <button
            v-if="!disableSave"
            class="main-btn success-btn btn-hover btn-sm"
            style="margin-left: 0.5rem"
            @click="handlerSave"
        >
            <i class="fa-solid fa-floppy-disk fa-fade"></i> Simpan
        </button>
        <div class="col-md-12">
            <hr />
        </div>
    </div>
</template>
<script>
export default {
    name: 'ActionButtonForm',
    emits: ['back', 'save'],
    props: {
        disableSave: {
            default: false
        }
    },
    methods: {
        handlerBack(event) {
            this.$emit('back', event)
        },
        handlerSave(event) {
            this.$emit('save', event)
        }
    }
}
</script>
