<template>
    <div class="title-wrapper mb-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title">
                    <h2>{{ allRoute?.full_title || '' }}</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <RouterLink to="/">Dashboard</RouterLink>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <RouterLink :to="route.path">{{
                                    allRoute?.full_title || ''
                                }}</RouterLink>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</template>
<script>
import { getAllThisRoute } from '@/helpers.ts'
import { useRoute, useRouter } from 'vue-router'
export default {
    setup() {
        const route = useRoute()
        const router = useRouter()
        const allRoute = getAllThisRoute(route)
        // on progress develop
        // const listBreadCumb = getAllRoute().filter((i) => i.group === allRoute.group)
        return {
            route,
            router,
            allRoute
            // listBreadCumb
        }
    },
    created() {
        window.bread = this
    }
}
</script>
