<template>
    <div>
        <Filter
            v-if="_sync == null"
            @filterSearch="handlerFilterSearch"
            @filterPaginate="handlerFilterPaginate"
            :isLoading="_isLoading"
        >
            <template v-slot:table-actions>
                <slot name="actions"></slot>
                <div style="max-width: 30px">
                    <i style="font-size: 8pt" v-if="rowIdxClicked && !_multi"
                        >Baris ke-{{ rowIdxClicked }}</i
                    >
                </div>
            </template>
        </Filter>

        <AgDatatable
            :key="tableKey"
            ref="agDatatable"
            :style="{
                height: _height + 'px'
            }"
            class="ag-theme-alpine"
            :gridOptions="_gridOptions"
            :rowMultiSelectWithClick="_multi"
            @cell-value-changed="_handlerGridChange"
            @sortChanged="_onSortChanged"
            @rowClicked="_handlerRowClicked"
            @rowDoubleClicked="_handlerRowDoubleClicked"
        >
        </AgDatatable>
        <Paginate
            v-if="_sync == null"
            :dataPaginate="dataPaginate"
            @handlerFilterPaginate="handlerFilterPaginateBottom"
            @handlerFilterPaginateFirstLast="handlerFilterPaginateFirstLastBottom"
        ></Paginate>
    </div>
</template>

<script>
import { ref, nextTick } from 'vue'
import Paginate from '@/components/DatatablePaginate.vue'
import Filter from '@/components/DatatableFilter.vue'
import { baseApi, axiosApi, getQueryString } from '@/helpers.ts'
export default {
    emits: [
        'rowClicked',
        'rowDoubleClicked',
        'createButtonClicked',
        'counterSelected',
        'gridChange'
    ],
    components: {
        Paginate,
        Filter
    },
    name: 'Datatable',
    props: {
        _api: {
            type: Object
        },
        _sync: Array,
        _columns: {
            type: Object
        },
        _createButton: {
            type: Boolean,
            default: true
        },
        _multi: {
            type: Boolean,
            default: false
        },
        _height: {
            type: Number,
            default: 400
        }
    },
    computed: {
        itemSync() {
            if (this._sync) {
                this._gridOptions.rowData = this._sync
                console.log(this._gridOptions)
            }
            this.load()
        }
    },
    data() {
        let selectType = 'single'
        if (this._multi) selectType = 'multiple'
        return {
            _isLoading: false,
            _gridOptions: {
                animateRows: true,
                defaultColDef: {
                    resizable: true,
                    width: 200,
                    sortable: true,
                    editable: false
                },
                columnDefs: this._columns ?? [],
                rowData: this._sync ?? [],
                autoGroupColumnDef: {
                    headerName: '#',
                    field: '__auto',
                    maxWidth: 60,
                    cellRenderer: 'agGroupCellRenderer'
                },
                rowSelection: selectType
            },
            url_paginate: null,
            last_num_paginate: 25,
            dataPaginate: {},
            overrideParams: {},
            overrideParamsFilterOrder: {},
            overrideParamsFilterPaginate: {},
            overrideParamsFilterNextPaginate: {},
            overrideParamsFilterSearch: {},
            rowIdxClicked: null,
            countRowClick: 0,
            dataSelected: Array,
            tableKey: 0
        }
    },
    methods: {
        load() {
            // basic model
            let model = this._api?.model
            if (!model) {
                nextTick(() => {
                    this._isLoading = true
                    this._gridOptions.rowData = this._sync
                    this.tableKey++
                    this.counter()
                    setTimeout(() => {
                        this._isLoading = false
                    }, 770)
                    this.nextTickColumnFit()
                })
                return
            }
            // default params
            let fixParams = {}
            // merge other params
            if (this._api?.params != null) {
                fixParams = {
                    ...fixParams,
                    ...this._api?.params
                }
            }
            if (this.overrideParams != null) {
                fixParams = {
                    ...fixParams,
                    ...this.overrideParams
                }
            }
            if (this.overrideParamsFilterOrder != null) {
                fixParams = {
                    ...fixParams,
                    ...this.overrideParamsFilterOrder
                }
            }
            if (this.overrideParamsFilterPaginate != null) {
                fixParams = {
                    ...fixParams,
                    ...this.overrideParamsFilterPaginate
                }
            }
            if (this.overrideParamsFilterNextPaginate != null) {
                fixParams = {
                    ...fixParams,
                    ...this.overrideParamsFilterNextPaginate
                }
            }
            if (this.overrideParamsFilterSearch != null) {
                fixParams = {
                    ...fixParams,
                    ...this.overrideParamsFilterSearch
                }
            }
            // override params filter
            const fixParamsString = getQueryString(fixParams)
            let fix_url = model
            if (this.url_paginate) {
                fix_url = this.url_paginate
                if (fixParamsString) {
                    fix_url += '&' + fixParamsString
                }
            } else {
                if (fixParamsString) {
                    fix_url += '?' + fixParamsString
                }
            }

            this._isLoading = true
            // execution api with all params
            axiosApi(fix_url, 'GET', [], [], false).then(({ content }) => {
                // assign content data to row data grid
                if (content?.data) {
                    // dynamic number formating
                    this.last_num_paginate = content.from
                    let startIdx = Number(this.last_num_paginate) - 2
                    this._gridOptions.api.setRowData(
                        content.data.map(function (data, index) {
                            startIdx++
                            return {
                                ...data,
                                __auto: startIdx + 1
                            }
                        })
                    )
                }
                // assign data for paginate
                let dataPaginateUnset = content
                delete dataPaginateUnset.data
                delete dataPaginateUnset.available_methods
                delete dataPaginateUnset.available_scopes
                this.dataPaginate = dataPaginateUnset
                this.counter()
                setTimeout(() => {
                    this._isLoading = false
                }, 770)
                this.nextTickColumnFit()
            })
        },
        nextTickColumnFit() {
            nextTick(() => {
                this.$refs.agDatatable.api?.sizeColumnsToFit()
            })
        },
        _handlerGridChange(event) {
            this.rowIdxClicked = event.rowIndex + 1
            this.$emit('gridChange', event)
            this.counter()
        },
        _handlerRowClicked(event) {
            this.rowIdxClicked = event.rowIndex + 1
            this.$emit('rowClicked', event)
            this.counter()
        },
        _handlerRowDoubleClicked(event) {
            this.rowIdxClicked = event.rowIndex + 1
            this.$emit('rowDoubleClicked', event)
        },
        _onSortChanged(event) {
            if (this._api?.model) {
                const sorting = event.columnApi.getColumnState()
                let orderParams = {}
                for (let i in sorting) {
                    if (sorting[i]['sort'] != null) {
                        orderParams = {
                            orderby: sorting[i]['colId'],
                            ordertype: sorting[i]['sort']
                        }
                    }
                }
                this.overrideParamsFilterOrder = orderParams
                // refresh row data grid
                this.load()
            }
        },
        beforeDestroy() {
            // Hapus event listener saat komponen di-unmount
            this._gridOptions.api.removeEventListener('sortChanged', this._onSortChanged)
        },
        handlerFilterSearch(filter) {
            this.overrideParamsFilterSearch = {}
            if (filter) {
                this.overrideParamsFilterSearch = {
                    search: filter
                }
            }
            this.load()
        },
        handlerFilterPaginate(filter) {
            this.overrideParamsFilterPaginate = {}
            if (filter) {
                this.overrideParamsFilterPaginate = {
                    paginate: filter
                }
            }
            this.load()
        },
        handlerFilterPaginateBottom(row) {
            this.url_paginate = row.url
            this.load()
        },
        handlerFilterPaginateFirstLastBottom(url) {
            this.url_paginate = url
            this.load()
        },
        _handlerCreateButtonClicked(event) {
            this.$emit('createButtonClicked', event)
        },
        counter() {
            this.$emit('counterSelected', this._gridOptions.api.getSelectedNodes()?.length ?? 0)
        },
        getSelectedRows() {
            const selectedNodes = this._gridOptions.api.getSelectedNodes()
            const selectedData = selectedNodes.map((node) => node.data)
            this.dataSelected = selectedData
            return selectedData
        }
    },
    created() {
        window.okeee = this
        this.load()
    }
}
</script>
