<template>
    <div class="pagination mt-2">
        <a
            href="#"
            @click="handleSelectPaginateFirstLast(dataPaginate.first_page_url)"
            :class="dataPaginate.current_page != 1 ? '' : 'disabled text-muted'"
            >&laquo; First Page</a
        >
        <a
            href="#"
            v-for="(i, idx) in dataPaginate.links"
            v-html="i.label.replace('Previous', '').replace('Next', '')"
            :class="i.active ? 'active' : !i.url ? 'disabled text-muted' : ''"
            @click="handleSelectPaginate(idx)"
        ></a>
        <a
            href="#"
            @click="handleSelectPaginateFirstLast(dataPaginate.last_page_url)"
            :class="
                dataPaginate.current_page != dataPaginate.last_page ? '' : 'disabled text-muted'
            "
            >Last Page &raquo;</a
        >
    </div>
</template>
<script>
export default {
    props: ['dataPaginate'],
    emits: ['handlerFilterPaginate', 'handlerFilterPaginateFirstLast'],
    data() {
        return {}
    },
    methods: {
        current_page(idx) {
            let row = this.dataPaginate.links[idx]
            this.$emit('handlerFilterPaginate', row)
        },
        handleSelectPaginate(idx) {
            let row = this.dataPaginate.links[idx]
            this.$emit('handlerFilterPaginate', row)
        },
        handleSelectPaginateFirstLast(fix_url = '') {
            this.$emit('handlerFilterPaginateFirstLast', fix_url)
        }
    }
}
</script>
<style scoped>
.pagination {
    float: right;
    font-size: 10pt;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
.pagination a.active {
    background-color: #4a6cf7;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
</style>
