<template>
    <div class="row align-items-center mb-2">
        <div class="col-md-4">
            <div class="d-flex justify-content-start align-items-center">
                <div class="input-style-1">
                    <input
                        v-model="search"
                        type="text"
                        class="form-control"
                        style="width: 100% !important"
                        placeholder="Cari sesuatu"
                        v-on:keyup.enter="submitSearch"
                    />
                </div>
                <i
                    v-if="search"
                    @click="clearSearch"
                    class="fas fa-x text-danger m-2"
                    style="cursor: pointer"
                    title="Hapus pencarian"
                ></i>
                <i
                    :class="'fa-solid fa-arrows-rotate m-2 ' + (isLoading ? 'fa-spin' : '')"
                    style="cursor: pointer"
                    @click="refresh"
                    title="Refresh"
                ></i>
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-end align-items-center">
                <slot name="table-actions" class="mr-10"></slot>
                <select
                    v-model="paginate_value"
                    class="form-control"
                    style="width: 80px; margin-left: 10px"
                    @input="selectPaginate"
                >
                    <option v-for="i in paginate" :value="i.key" :selected="i.default">
                        {{ i.key }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    emits: ['filterSearch', 'filterPaginate'],
    props: {
        isLoading: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            search: '',
            paginate_value: 25,
            paginate: [
                {
                    key: 10,
                    default: false
                },
                {
                    key: 25,
                    default: true
                },
                {
                    key: 50,
                    default: false
                },
                {
                    key: 100,
                    default: false
                }
            ]
        }
    },
    methods: {
        submitSearch() {
            this.$emit('filterSearch', this.search)
        },
        selectPaginate(event) {
            this.paginate_value = event.target.value
            this.$emit('filterPaginate', event.target.value)
        },
        clearSearch() {
            this.search = ''
            this.submitSearch()
        },
        refresh() {
            this.submitSearch()
        }
    }
}
</script>

<style scoped>
.input-style-1 input {
    height: 50px;
}
.input-style-1 {
    height: 50px;
    margin: 0;
}
</style>
