<template>
  <div id="loader">
    <div id="loading">
      <div class="spinner-border"></div>
    </div>
  </div>
</template>
<style :scoped>
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  opacity: 50%;
  display: none;
}
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: 14px arial;
}
</style>
