<template>
    <b-modal v-model="modalShow">
        <slot name="modal-body"> </slot>
    </b-modal>
</template>
<script>
export default {
    name: 'Modal',
    data() {
        return {
            modalShow: false
        }
    },
    mounted() {},
    methods: {
        open() {
            this.modalShow = true
        },
        close() {
            this.modalShow = false
        }
    }
}
</script>
