<template>
    <div style="width: 100% !important">
        <div>
            <button
                :disabled="_readonly"
                @click="open"
                style="float: right !important"
                class="btn btn-primary"
            >
                <i class="fa-solid fa-list-check fa-flip"></i>
                <slot name="btn-text"></slot>
            </button>
        </div>
        <!-- modal start -->
        <Modal ref="modal" :title="_label" hide-footer size="xl">
            <template #modal-body>
                <Datatable
                    ref="table"
                    :_multi="true"
                    :_api="_api"
                    :_columns="_columns"
                    :_height="320"
                    @counterSelected="counterSelected"
                    @rowDoubleClicked="rowDoubleClicked"
                >
                    <template v-slot:actions>
                        <i class="mr-10">Klik baris untuk memilih data</i>
                    </template>
                </Datatable>
                <br />
                <br />
                <hr />
                <button
                    :disabled="countRowClick === 0"
                    style="float: right"
                    class="btn btn-success"
                    @click="itemsSelected"
                    title="Tambahkan baris terpilih"
                >
                    {{ countRowClick }} Baris Terpilih
                    <i
                        class="fa-solid fa-check-double"
                        :class="{
                            'fa-bounce': countRowClick !== 0
                        }"
                    ></i>
                </button>
            </template>
        </Modal>
        <!-- modal end -->
    </div>
</template>
<script>
import { axiosApi } from '@/helpers.ts'
export default {
    name: 'MultiPopupField',
    emits: {
        input: {
            type: String
        },
        'update:value': {
            type: String
        },
        getSelectedRows: {
            type: Array
        }
    },
    props: {
        _label: {
            type: String
        },
        _api: {
            type: Object
        },
        _columns: {
            type: Object
        },
        _displayField: {
            type: String,
            default: ''
        },
        _valueField: {
            type: String,
            default: ''
        },
        _icon: {
            type: String
        },
        _iconPosition: {
            type: String,
            default: 'left'
        },
        _type: {
            type: String,
            default: 'text'
        },
        _readonly: {
            type: Boolean,
            default: false
        },
        _lowercase: {
            type: Boolean,
            default: false
        },
        _uppercase: {
            type: Boolean,
            default: false
        },
        _hidden: {
            type: Boolean,
            default: false
        },
        _required: {
            type: Boolean,
            default: false
        },
        _listener: null
    },
    data() {
        return {
            _displayValue: '',
            _value: '',
            _is_invalid: false,
            _title: '',
            dataSelected: Object,
            modalShow: false,
            countRowClick: 0
        }
    },
    mounted() {
        setTimeout(() => {
            this.setRequired()
        }, 500)
        window.ccc = this
    },
    methods: {
        open() {
            this.$refs.modal.open()
        },
        close() {
            this.$refs.modal.close()
        },
        rowDoubleClicked(evt) {
            const data = evt.data
            this.dataSelected = data
            this._value = data[this._valueField]
            this._displayValue = data[this._displayField]
            this.close()
            this.onchangeOriginal()
        },
        clear() {
            this.dataSelected = {}
            this._value = ''
            this._displayValue = ''
            this.onchangeOriginal()
        },
        setRequired(status = true) {
            if (status && this._required && !this._value) {
                this._is_invalid = true
                this._title = 'tidak boleh kosong'
            } else {
                this._is_invalid = false
                this._title = ''
            }
        },
        setValue(val, trigger = true) {
            this._value = val
            if (trigger) {
                this.readById(val)
            }
        },
        getValue() {
            return this._value
        },
        getValueAll() {
            return this.dataSelected
        },
        getValid() {
            if (!this._value && this._required) {
                const text = this._label + ` harus diisi`
                alertify.error(text)
                return false
            }
            return true
        },
        counterSelected(evt) {
            this.countRowClick = evt
        },
        itemsSelected() {
            const data = this.$refs.table.getSelectedRows()
            this.dataSelected = data
            this.$emit('getSelectedRows', data)
            return data
        },
        readById(id) {
            if (this._api?.model) {
                axiosApi(this._api?.model + `/${id}`).then(({ content }) => {
                    this.dataSelected = content
                    this._value = content[this._valueField]
                    this._displayValue = content[this._displayField]
                    this.onchangeOriginal()
                })
            }
        },
        onchangeOriginal(evt) {
            this.setRequired()
            if (this._value) {
                this._value = this._uppercase ? this._value?.toUpperCase() : this._value
                this._value = this._lowercase ? this._value?.toLowerCase() : this._value
            }
            let type = 'change'
            if (evt?.type !== undefined) {
                type = evt?.type
            }
            if (['keyup', 'change'].includes(type ?? '')) {
                this.$emit('update:value', this.getValue())
                this.$emit('input', this.getValue())
            }
            if (this._listener !== null) {
                if (this._listener !== undefined) {
                    let hasil = this._listener(this, type, this._value, evt)
                    this.$emit('_listener', {
                        el: this,
                        type,
                        val: this._value,
                        evt
                    })
                    if (type == 'keydown' && typeof hasil == 'boolean') {
                        if (!hasil) {
                            evt.preventDefault()
                            return hasil
                        }
                    }
                }
            }
        }
    }
}
</script>
<style>
.btn-open {
    padding: 12px;
    border-radius: 0px;
}
.btn-clear {
    padding: 12px 14px 12px 14px;
    border-radius: 0px 4px 4px 0px;
}
.input-show {
    border-radius: 4px 0px 0px 4px !important;
}
</style>
