<template>
    <div class="" style="width: 100% !important">
        <label v-if="_label" for="">{{ _label }}</label>
        <!-- modal start -->
        <Modal ref="modal" :title="_label" hide-footer size="xl">
            <template v-slot:modal-body>
                <Datatable
                    ref="table"
                    :_api="_api"
                    :_columns="_columns"
                    @rowDoubleClicked="rowDoubleClicked"
                >
                    <template v-slot:actions>
                        <i class="mr-10">Double Klik baris untuk memilih data</i>
                    </template>
                </Datatable>
            </template>
        </Modal>
        <!-- modal end -->
        <div class="d-flex flex-row">
            <div
                class="flex-grow"
                :class="
                    _icon
                        ? _iconPosition == 'left'
                            ? 'input-style-3'
                            : 'input-style-2'
                        : 'input-style-1'
                "
            >
                <input
                    class="form-control input-show"
                    :style="_type == 'number' ? 'text-align: right !important;' : ''"
                    :readonly="_readonly"
                    :hidden="_hidden"
                    v-model="_displayValue"
                    :type="_type"
                    :title="_title"
                    @change="onchangeOriginal"
                    @blur="onchangeOriginal"
                    @focus="onchangeOriginal"
                    @keyup="onchangeOriginal"
                    @keydown="onchangeOriginal"
                    :class="{
                        'is-invalid': _is_invalid,
                        'text-uppercase': _uppercase,
                        'text-lowercase': _lowercase
                    }"
                />
                <span v-if="_icon && !_hidden" class="icon"
                    ><i :class="'fas fa-' + _icon"></i
                ></span>
            </div>
            <div>
                <button class="btn btn-success btn-open" :disabled="_readonly" @click="open">
                    <i class="fa fa-folder-open"></i>
                </button>
                <button class="btn btn-danger btn-clear" :disabled="_readonly" @click="clear">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { axiosApi } from '@/helpers.ts'
export default {
    name: 'PopupField',
    emits: {
        input: {
            type: String
        },
        'update:value': {
            type: String
        }
    },
    props: {
        _label: {
            type: String
        },
        _api: {
            type: Object
        },
        _columns: {
            type: Object
        },
        _displayField: {
            type: String,
            default: ''
        },
        _valueField: {
            type: String,
            default: ''
        },
        _icon: {
            type: String
        },
        _iconPosition: {
            type: String,
            default: 'left'
        },
        _type: {
            type: String,
            default: 'text'
        },
        _readonly: {
            type: Boolean,
            default: false
        },
        _lowercase: {
            type: Boolean,
            default: false
        },
        _uppercase: {
            type: Boolean,
            default: false
        },
        _hidden: {
            type: Boolean,
            default: false
        },
        _required: {
            type: Boolean,
            default: false
        },
        _listener: null
    },
    data() {
        return {
            _displayValue: '',
            _value: '',
            _is_invalid: false,
            _title: '',
            dataSelected: Object,
            modalShow: false
        }
    },
    mounted() {
        setTimeout(() => {
            this.setRequired()
        }, 500)
        window.ccc = this
    },
    methods: {
        open() {
            this.$refs.modal.open()
        },
        close() {
            this.$refs.modal.close()
        },
        rowDoubleClicked(evt) {
            const data = evt.data
            this.dataSelected = data
            this._value = data[this._valueField]
            this._displayValue = data[this._displayField]
            this.close()
            this.onchangeOriginal()
        },
        clear() {
            this.dataSelected = {}
            this._value = ''
            this._displayValue = ''
            this.onchangeOriginal()
        },
        setRequired(status = true) {
            if (status && this._required && !this._value) {
                this._is_invalid = true
                this._title = 'tidak boleh kosong'
            } else {
                this._is_invalid = false
                this._title = ''
            }
        },
        setValue(val, trigger = true) {
            this._value = val
            if (trigger) {
                this.readById(val)
            }
        },
        getValue() {
            return this._value
        },
        getValueAll() {
            return this.dataSelected
        },
        getValid() {
            if (!this._value && this._required) {
                const text = this._label + ` harus diisi`
                alertify.error(text)
                return false
            }
            return true
        },
        readById(id) {
            if (this._api?.model) {
                axiosApi(this._api?.model + `/${id}`).then(({ content }) => {
                    this.dataSelected = content
                    this._value = content[this._valueField]
                    this._displayValue = content[this._displayField]
                    this.onchangeOriginal()
                })
            }
        },
        onchangeOriginal(evt) {
            this.setRequired()
            if (this._value) {
                this._value = this._uppercase ? this._value?.toUpperCase() : this._value
                this._value = this._lowercase ? this._value?.toLowerCase() : this._value
            }
            let type = 'change'
            if (evt?.type !== undefined) {
                type = evt?.type
            }
            if (['keyup', 'change'].includes(type ?? '')) {
                this.$emit('update:value', this.getValue())
                this.$emit('input', this.getValue())
            }
            if (this._listener !== null) {
                if (this._listener !== undefined) {
                    let hasil = this._listener(this, type, this._value, evt)
                    this.$emit('_listener', {
                        el: this,
                        type,
                        val: this._value,
                        evt
                    })
                    if (type == 'keydown' && typeof hasil == 'boolean') {
                        if (!hasil) {
                            evt.preventDefault()
                            return hasil
                        }
                    }
                }
            }
        }
    }
}
</script>
<style>
.btn-open {
    padding: 12px;
    border-radius: 0px;
}
.btn-clear {
    padding: 12px 14px 12px 14px;
    border-radius: 0px 4px 4px 0px;
}
.input-show {
    border-radius: 4px 0px 0px 4px !important;
}
</style>
