<template>
    <div class="p-0">
        <label v-if="_label" for="">{{ _label }}</label>
        <div class="select-style-1">
            <v-select
                id="v-select"
                v-model="_value"
                :label="_displayField"
                :disabled="_readonly"
                :hidden="_hidden"
                :options="options"
                :reduce="reduce"
                :title="_title"
                @search="onSearch"
                @change="onchangeOriginal"
                @option:selected="onchangeOriginal"
                @option:deselecting="onchangeOriginal"
                @search:blur="onchangeOriginal"
                @search:focus="onchangeOriginal"
                @keyup="onchangeOriginal"
                @keydown="onchangeOriginal"
                :class="{
                    'is-invalid': _is_invalid
                }"
            >
            </v-select>
        </div>
    </div>
</template>
<script>
import { baseApi, axiosApi, getQueryString } from '@/helpers.ts'
export default {
    name: 'SelectField',
    emits: {},
    props: {
        _api: {
            type: Object
        },
        _label: {
            type: String
        },
        _valueField: {
            type: String
        },
        _displayField: {
            type: String
        },
        _readonly: {
            type: Boolean,
            default: false
        },
        _hidden: {
            type: Boolean,
            default: false
        },
        _options: {
            type: Array,
            default() {
                return []
            }
        },
        _required: {
            type: Boolean,
            default: false
        },
        _listener: null
    },
    watch: {
        _value(value) {
            if (!value) {
                this.onchangeOriginal()
            }
        }
    },
    mounted() {
        setTimeout(() => {
            this.setRequired()
        }, 500)
    },
    created() {
        if (!this._api?.model && this._options) {
            this.options = this._options
        } else {
            this.load()
        }
    },
    data() {
        const load = async (paramObj = {}, callback = function () {}) => {
            // basic model
            let model = this._api?.model
            if (!model) {
                alertify.alert('Perhatian', 'Model undefined, periksa kembali baris kode anda')
                return
            }
            // default params
            let fixParams = {}
            // merge other params
            if (this._api?.params != null) {
                fixParams = {
                    ...fixParams,
                    ...this._api?.params
                }
            }
            if (this.overrideParams != null) {
                fixParams = {
                    ...fixParams,
                    ...this.overrideParams
                }
            }
            if (this.searchText != null) {
                fixParams = {
                    ...fixParams,
                    search: this.searchText
                }
            }

            let fix_url = model
            const fixParamsString = getQueryString(fixParams)
            if (fixParamsString) {
                fix_url += '?' + fixParamsString
            }

            //  buat controller
            try {
                this.fetchController.value = new AbortController()
                const signal = this.fetchController.value.signal
            } catch (e) {
                //
            }

            try {
                // execution api with all params
                this.options = []
                this.awaitingSearch = true

                axiosApi(fix_url, 'GET', {}, {}, false).then(({ content }) => {
                    // assign content data
                    if (content?.data) {
                        this.originalData = content.data
                        this.options = content.data
                        this.awaitingSearch = false
                    }
                })
            } catch (err) {
                if (typeof failedFunction === 'function') {
                    this.awaitingSearch = false
                    failedFunction(err)
                }
            }
            callback(this.originalData)
        }
        return {
            load,
            _value: '',
            _is_invalid: false,
            _title: '',
            fetchController: null,
            awaitingSearch: false,
            searchText: null,
            originalData: [],
            options: [],
            loading: {
                type: Boolean,
                default: false
            }
        }
    },
    methods: {
        changedValue() {},
        setValue(val, trigger = true) {
            this._value = val
            if (trigger) this.onchangeOriginal()
        },
        getValue() {
            return this._value
        },
        getValid() {
            if (!this._value && this._required) {
                const text = this._label + ` harus diisi`
                alertify.error(text)
                return false
            }
            return true
        },
        reduce(option) {
            return typeof option === 'object' ? option['id'] ?? option[this._valueField] : option
        },
        onSearch(search, loading) {
            if (!this._api) return
            this.searchText = search
            if (!this.awaitingSearch) {
                try {
                    this.fetchController.value.abort()
                } catch (e) {
                    //
                }

                loading(true)
                setTimeout(() => {
                    this.load({}, function (dt) {
                        loading(false)
                    })
                }, 800)
            }
        },
        setRequired(status = true) {
            if (status && this._required && !this._value) {
                this._is_invalid = true
                this._title = 'tidak boleh kosong'
            } else {
                this._is_invalid = false
                this._title = ''
            }
        },
        onchangeOriginal(evt) {
            this.setRequired()
            if (this._value) {
                this._value = this.uppercase ? this._value?.toUpperCase() : this._value
            }
            let type = 'change'
            if (evt?.type !== undefined) {
                type = evt.type
            }
            if (['keyup', 'change'].includes(type)) {
                this.$emit('update:value', this.getValue())
                this.$emit('input', this.getValue())
            }
            if (this._listener !== null) {
                if (this._listener !== undefined) {
                    let hasil = this._listener(this, type, this._value, evt)
                    this.$emit('_listener', {
                        el: this,
                        type,
                        val: this._value,
                        evt
                    })
                    if (type == 'keydown' && typeof hasil == 'boolean') {
                        if (!hasil) {
                            evt.preventDefault()
                            return hasil
                        }
                    }
                }
            }
        }
    }
}
</script>
<style>
#v-select .vs__dropdown-toggle .vs__selected-options .vs__search {
    padding: 7.5px !important;
}
#v-select .vs__dropdown-toggle {
    border: 1px solid #e5e5e5 !important;
}
#v-select.is-invalid {
    border: #dc3545 solid;
    border-width: 1px;
    border-radius: 4px;
}
</style>
