<template>
    <div class="p-0">
        <label v-if="_label" for="">{{ _label }}</label>
        <div
            :class="
                _icon
                    ? _iconPosition == 'left'
                        ? 'input-style-3'
                        : 'input-style-2'
                    : 'input-style-1'
            "
        >
            <input
                ref="input"
                class="form-control"
                :style="
                    ['thousand', 'rupiah'].includes(_type) ? 'text-align: right !important;' : ''
                "
                :placeholder="_placeholder"
                :readonly="_readonly"
                :hidden="_hidden"
                v-model="_value"
                :type="['thousand', 'rupiah'].includes(_type) ? 'text' : _type"
                :title="_title"
                @change="onchangeOriginal"
                @blur="onchangeOriginal"
                @focus="onchangeOriginal"
                @keyup="onchangeOriginal"
                @keydown="onchangeOriginal"
                :class="{
                    'is-invalid': _is_invalid,
                    'text-uppercase': _uppercase,
                    'text-lowercase': _lowercase,
                    'cursor-not-allowed': _readonly
                }"
            />
            <span v-if="_icon && !_hidden" class="icon"><i :class="'fas fa-' + _icon"></i></span>
        </div>
    </div>
</template>
<script>
import { formatThousand, formatRPThousand, currencyToDefault } from '@/helpers.ts'
export default {
    name: 'TextField',
    emits: {
        input: {
            type: String
        },
        'update:value': {
            type: String
        }
    },
    props: {
        _label: {
            type: String
        },
        _placeholder: {
            type: String
        },
        _icon: {
            type: String
        },
        _iconPosition: {
            type: String,
            default: 'left'
        },
        _type: {
            type: String,
            default: 'text'
        },
        _uppercase: {
            type: Boolean,
            default: false
        },
        _lowercase: {
            type: Boolean,
            default: false
        },
        _readonly: {
            type: Boolean,
            default: false
        },
        _hidden: {
            type: Boolean,
            default: false
        },
        _required: {
            type: Boolean,
            default: false
        },
        _textRight: {
            type: Boolean,
            default: false
        },
        _listener: null
    },
    data() {
        return {
            _value: '',
            _is_invalid: false,
            _title: ''
        }
    },
    mounted() {
        setTimeout(() => {
            this.setRequired()
        }, 500)
    },
    methods: {
        focus() {
            this.$refs.input.focus()
        },
        setRequired(status = true) {
            if (status && this._required && !this._value) {
                this._is_invalid = true
                this._title = 'tidak boleh kosong'
            } else {
                this._is_invalid = false
                this._title = ''
            }
        },
        setValue(val, trigger = true) {
            if (['rupiah', 'thousand', 'number'].includes(this._type)) {
                this._value = parseFloat(Number(val).toFixed(this.decimals))
            } else {
                this._value = val
            }
            if (trigger) this.onchangeOriginal('trigger')
        },
        getValue() {
            if (['rupiah', 'thousand', 'number'].includes(this._type)) {
                console.log(this._value)
                return currencyToDefault(this._value)
            } else {
                return this._value
            }
        },
        getValid() {
            if (!this._value && this._required) {
                const text = this._label + ` harus diisi`
                alertify.error(text)
                return false
            }
            return true
        },
        thousandSanitize(number) {
            let ribuan = formatThousand(number)
            return ribuan
        },
        thousandRPSanitize(number) {
            let ribuan = 'Rp ' + formatThousand(number)
            return ribuan
        },
        onchangeOriginal(evt) {
            this.setRequired()
            if (this._value) {
                this._value = this._uppercase ? this._value?.toUpperCase() : this._value
                this._value = this._lowercase ? this._value?.toLowerCase() : this._value
            }
            let type = 'change'
            if (evt?.type !== undefined) {
                type = evt?.type
            }
            if (['keyup', 'change'].includes(type ?? '')) {
                this.$emit('update:value', this.getValue())
                this.$emit('input', this.getValue())
            }
            if (['keyup', 'keydown', 'focus'].includes(type ?? '')) {
                let newVal = this._value
                if (this._type == 'thousand') {
                    newVal = this.thousandSanitize(this._value)
                } else if (this._type == 'rupiah') {
                    newVal = this.thousandRPSanitize(this._value)
                }
                this._value = newVal
            }
            if (evt == 'trigger' || type == 'blur') {
                let newVal = this._value
                if (this._type == 'thousand') {
                    newVal = formatThousand(this._value)
                } else if (this._type == 'rupiah') {
                    newVal = formatRPThousand(this._value)
                }
                this._value = newVal
            }
            if (this._listener !== null) {
                if (this._listener !== undefined) {
                    let hasil = this._listener(this, type, this._value, evt)
                    if (type == 'keydown' && typeof hasil == 'boolean') {
                        if (!hasil) {
                            evt.preventDefault()
                            return hasil
                        }
                    }
                }
            }
        }
    }
}
</script>
