<template>
    <div class="p-0">
        <label v-if="_label" for="">{{ _label }}</label>
        <div
            :class="
                _icon
                    ? _iconPosition == 'left'
                        ? 'input-style-3'
                        : 'input-style-2'
                    : 'input-style-1'
            "
        >
            <textarea
                type="text"
                class="form-control"
                :readonly="_readonly"
                :hidden="_hidden"
                v-model="_value"
                :title="_title"
                :cols="_cols"
                :rows="_rows"
                @change="onchangeOriginal"
                @blur="onchangeOriginal"
                @focus="onchangeOriginal"
                @keyup="onchangeOriginal"
                @keydown="onchangeOriginal"
                :class="{
                    'is-invalid': _is_invalid
                }"
            >
            </textarea>
            <span v-if="_icon && !_hidden" class="icon"><i :class="'fas fa-' + _icon"></i></span>
        </div>
    </div>
</template>
<script>
export default {
    name: 'TextArea',
    emits: {
        input: {
            type: String
        },
        'update:value': {
            type: String
        }
    },
    props: {
        _label: {
            type: String
        },
        _icon: {
            type: String
        },
        _iconPosition: {
            type: String,
            default: 'left'
        },
        _cols: {
            type: Number,
            default: 10
        },
        _rows: {
            type: Number,
            default: 5
        },
        _readonly: {
            type: Boolean,
            default: false
        },
        _hidden: {
            type: Boolean,
            default: false
        },
        _required: {
            type: Boolean,
            default: false
        },
        _listener: null
    },
    data() {
        return {
            _value: '',
            _is_invalid: false,
            _title: ''
        }
    },
    mounted() {
        setTimeout(() => {
            this.setRequired()
        }, 500)
    },
    methods: {
        setRequired(status = true) {
            if (status && this._required && !this._value) {
                this._is_invalid = true
                this._title = 'tidak boleh kosong'
            } else {
                this._is_invalid = false
                this._title = ''
            }
        },
        setValue(val, trigger = true) {
            this._value = val
            if (trigger) this.onchangeOriginal()
        },
        getValue() {
            return this._value
        },
        getValid() {
            if (!this._value && this._required) {
                const text = this._label + ` harus diisi`
                alertify.error(text)
                return false
            }
            return true
        },
        onchangeOriginal(evt) {
            this.setRequired()
            if (this._value) {
                this._value = this.uppercase ? this._value?.toUpperCase() : this._value
            }
            let type = 'change'
            if (evt?.type !== undefined) {
                type = evt?.type
            }
            if (['keyup', 'change'].includes(type ?? '')) {
                this.$emit('update:value', this.getValue())
                this.$emit('input', this.getValue())
            }
            if (this._listener !== null) {
                if (this._listener !== undefined) {
                    let hasil = this._listener(this, type, this._value, evt)
                    this.$emit('_listener', {
                        el: this,
                        type,
                        val: this._value,
                        evt
                    })
                    if (type == 'keydown' && typeof hasil == 'boolean') {
                        if (!hasil) {
                            evt.preventDefault()
                            return hasil
                        }
                    }
                }
            }
        }
    }
}
</script>
