<template>
    <div
        class="p-0 mb-3"
        :style="{
            display: _hidden ? 'none' : 'block'
        }"
    >
        <label v-if="_label" for="">{{ _label }}</label
        ><br />
        <div v-if="!isCropper" class="show-image">
            <div class="image-container">
                <img
                    v-if="previewImage"
                    :src="previewImage"
                    alt="Uploaded Preview"
                    class="preview-image"
                />
                <div class="action-btn-bot">
                    <i class="text-white mr-5 bot" v-if="fileUploadName">{{ fileUploadName }}</i>
                </div>

                <div class="action-btn">
                    <button class="btn btn-warning m-1" @click="openCropper" title="Sesuaikan">
                        <i class="fa fa-crop"></i>
                    </button>
                    <button class="btn btn-primary m-1" @click="openDirectoryDialog" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button
                        v-if="_value?.toString() != '[object Object]'"
                        class="btn btn-danger m-1"
                        title="Hapus"
                        @click="clear"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div v-if="isCropper">
            <button class="btn btn-danger mr-5" @click="openCropper(false)">
                <i class="fa fa-arrow-left"></i> Batalkan
            </button>
            <button class="btn btn-primary" @click="saveCropper">
                <i class="fa fa-check"></i> OK
            </button>
            <cropper ref="cropper" class="cropper" :src="previewImage" @error="errorHandle" />
        </div>
        <div class="drag-drop-upload" v-else>
            <div
                v-if="!previewImage"
                class="drop-zone"
                @dragover.prevent
                @drop="handleDrop"
                @dragenter="handleDragEnter"
                @dragleave="handleDragLeave"
                @click="openDirectoryDialog"
                :title="_title"
                :class="{
                    'is-invalid': _is_invalid
                }"
            >
                <i
                    :class="{
                        'text-danger': _is_invalid
                    }"
                    >seret lalu tempel file disini atau klik untuk browse</i
                >
            </div>
        </div>
        <div v-if="isLoading" class="loading-indicator">Loading...</div>
        <input
            :key="triggerKey"
            ref="directoryInput"
            class="hidden-input"
            type="file"
            @change="onchangeOriginal"
        />
    </div>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
import fileImage from '@/assets/images/file.png'
import { getImage, getImageNotFound } from '@/helpers.ts'
export default {
    name: 'Upload',
    components: {
        Cropper
    },
    emits: {
        input: {
            type: String
        },
        'update:value': {
            type: String
        }
    },
    props: {
        _label: {
            type: String
        },
        _readonly: {
            type: Boolean,
            default: false
        },
        _hidden: {
            type: Boolean,
            default: false
        },
        _required: {
            type: Boolean,
            default: false
        },
        _listener: null
    },
    data() {
        return {
            triggerKey: 0,
            _value: null,
            _is_invalid: false,
            _title: '',
            isDragging: false,
            fileUploadName: null,
            previewImage: null,
            isLoading: false,
            isUpload: true,
            isCropper: false
        }
    },
    mounted() {
        setTimeout(() => {
            this.setRequiredLocal()
        }, 500)
    },
    methods: {
        errorHandle(e) {
            alertify.error('Gagal memuat file, coba kembali nanti')
        },
        openCropper(st = true) {
            this.isCropper = st
        },
        saveCropper() {
            this.isCropper = false
            const val = this.$refs.cropper.getResult()
            const url = val.canvas.toDataURL()
            this.previewImage = url
            this._value = url
        },
        imageLoadError() {
            const urlImageNotFound = getImageNotFound()
            this.previewImage = urlImageNotFound
        },
        handleDrop(event) {
            event.preventDefault()
            this.isDragging = false
            this.onchangeOriginal(event)
        },
        handleDragEnter(event) {
            event.preventDefault()
            this.isDragging = true
        },
        handleDragLeave() {
            this.isDragging = false
        },

        openDirectoryDialog() {
            this.$refs.directoryInput.click()
        },
        previewFile(file = null, defaultValue = false) {
            this.isLoading = true
            if (!file) {
                this.fileUploadName = ''
                this.previewImage = null
                return
            }
            if (defaultValue) {
                // ketika memiliki value dari url src
                // cek image not found
                const urlImage = getImage(file)
                this.previewImage = urlImage
                this.fileUploadName = file
                this.isLoading = false
                return
            }
            this.fileUploadName = file?.name ?? ''
            // Display image preview (assuming the first file is an image)
            const imageType = /^image\//
            if (imageType.test(file.type)) {
                this.previewImage = URL.createObjectURL(file)
            } else {
                this.previewImage = fileImage
            }
            this.isLoading = false
        },
        clear() {
            this._value = {}
            this.previewFile()
            this.setRequiredLocal()
            this.isLoading = false
        },
        setRequiredLocal(status = true) {
            if (
                status &&
                this._required &&
                (this._value?.toString() == '[object Object]' || this._value == null)
            ) {
                this._is_invalid = true
                this._title = 'tidak boleh kosong'
            } else {
                this._is_invalid = false
                this._title = ''
            }
        },
        setValue(val, trigger = true) {
            this._value = val
            setTimeout(() => {
                this.previewFile(val, true)
                if (trigger) this.onchangeOriginal()
            }, 100)
        },
        getValue() {
            return this._value
        },
        getValid() {
            if (this._value?.toString() == '[object Object]' && this._required) {
                const text = this._label + ` harus diisi`
                alertify.error(text)
                return false
            }
            return true
        },
        async onchangeOriginal(evt) {
            if (evt?.dataTransfer?.files.length) {
                this._value = evt?.dataTransfer?.files[0]
                this.previewFile(this._value)
            }
            if (evt?.target?.files) {
                this._value = evt?.target?.files[0]
                this.previewFile(this._value)
            }
            let type = 'change'
            if (evt?.focus !== undefined || evt?.blur !== undefined) {
                this.isLoading = false
            }
            if (evt?.type !== undefined) {
                type = evt.type
            }
            if (this._listener !== null) {
                if (this._listener !== undefined) {
                    let hasil = this._listener(this, type, this._value, evt)
                    this.$emit('_listener', {
                        el: this,
                        type,
                        val: this._value,
                        evt
                    })
                }
            }
            this.setRequiredLocal()
        }
    }
}
</script>

<style scoped>
.drag-drop-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.drop-zone {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;
    border-radius: 4px;
}

.drop-zone.dragging {
    border-color: #007bff;
}
.preview-image {
    max-width: 100%;
    max-height: 100%;
}
.hidden-input {
    display: none;
}

.is-invalid {
    border: 2px dashed red !important;
}
div.show-image {
    position: relative;
    float: left;
    margin: 5px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0.2, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.image-container:hover::before {
    opacity: 1;
}

.image-container:hover img {
    opacity: 0.5;
}

.image-container:hover .action-btn {
    display: block;
}
.image-container:hover .action-btn-bot {
    display: block;
}

.action-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.action-btn-bot {
    position: relative;
    display: none;
}
i.bot {
    bottom: 0;
    position: absolute;
}
</style>
