<template>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="card-style col-md-6">
                        <div class="card-header">
                            <ActionButtonForm @back="back" @save="save" :disableSave="isPreview" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <TextField
                                    ref="name"
                                    _label="Nama"
                                    :_required="true"
                                    :_readonly="isPreview"
                                />
                                <TextField
                                    ref="business"
                                    _label="Perusahaan"
                                    :_required="true"
                                    :_readonly="isPreview"
                                    :_uppercase="true"
                                />
                                <TextField
                                    ref="phone"
                                    _label="Nomor HP"
                                    :_required="true"
                                    :_readonly="isPreview"
                                    :_type="'number'"
                                />
                                <TextArea
                                    ref="address"
                                    _label="Alamat"
                                    :_required="true"
                                    :_readonly="isPreview"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { useRoute, useRouter } from 'vue-router'
import {
    axiosApi,
    getAllThisRoute,
    getValidDataFromRefs,
    getAllDataFromRefs,
    setAllDataFromRefs
} from '@/helpers.ts'
export default {
    name: 'Form Customer',
    created() {
        window.tes = this
    },
    data() {
        const route = useRoute()
        const router = useRouter()
        const allRoute = getAllThisRoute(route)
        const columns = ['name', 'business', 'phone', 'address']

        const idEdit = route.params.id ?? null
        const isEdit = idEdit ? true : false
        const isPreview = route.query.preview ? true : false
        return {
            model: 'customer',
            dataEdit: {},
            idEdit,
            isEdit,
            isPreview,
            route,
            router,
            allRoute,
            columns
        }
    },
    mounted() {
        if (this.idEdit) {
            axiosApi(this.model + `/${this.idEdit}`).then(({ content }) => {
                this.dataEdit = content
                setAllDataFromRefs(this.$refs, this.columns, content)
            })
        }
    },
    methods: {
        back() {
            this.router.replace(`/${this.allRoute.seq}/${this.allRoute.group}`)
        },
        save() {
            // validate this data
            if (!getValidDataFromRefs(this.$refs, this.columns)) {
                return
            }
            // collect data
            const data = getAllDataFromRefs(this.$refs, this.columns)
            // send data
            if (!this.isEdit) {
                // CREATE
                var url = this.model
                var method = 'POST'
            } else {
                // EDIT
                var url = this.model + `/${this.idEdit}`
                var method = 'PUT'
            }
            const send = axiosApi(url, method, data)
            send.then((response) => {
                alertify.success(response.message)
                this.back()
            })
        }
    }
}
</script>
