<template>
    <div>
        <div v-if="component == 'TextField' && ['thousand', 'rupiah'].includes(componentType)">
            <TextField ref="decoder" :_type="componentType" :_textRight="true"></TextField>
        </div>
        <div v-if="component == 'TextField' && ['number'].includes(componentType)">
            <TextField ref="decoder" :_type="componentType" :_textRight="true"></TextField>
        </div>
        <div
            v-if="
                component == 'TextField' &&
                !['thousand', 'rupiah', 'number'].includes(componentType)
            "
        >
            <TextField ref="decoder" _type="text"></TextField>
        </div>
    </div>
</template>
<script>
import { nextTick } from 'vue'
export default {
    data() {
        return {
            component: {
                type: String,
                default: 'TextField'
            },
            componentType: {
                type: String,
                default: 'text'
            },
            value: '',
            cancelBeforeStart: true,
            highlightAllOnFocus: true,
            eventListener: null
        }
    },
    beforeMount() {
        try {
            const cols = this.params.colDef
            this.component = cols.component
            this.componentType = cols.componentType
            this.params.value
        } catch (error) {}
    },
    methods: {
        getValue() {
            return this.$refs.decoder?.getValue() ?? ''
        },
        isCancelBeforeStart() {
            return false
        },
        isCancelAfterEnd() {}
    },
    mounted() {
        this.$refs.decoder.setValue(this.params.value)
        nextTick(() => this.$refs.decoder.focus())
    }
}
</script>
