<template>
    <a target="_blank" :href="url"
        ><img
            :src="url"
            :alt="alt"
            title="klik untuk membuka gambar"
            style="height: 40px"
            @error="imageLoadError"
    /></a>
</template>
<script>
import { getImageNotFound, getImage } from '@/helpers.ts'
export default {
    data() {
        return {
            url: '',
            alt: ''
        }
    },
    beforeMount() {
        try {
            const urlImage = getImage(this.params.value)
            this.url = urlImage
        } catch (error) {
            const urlImageNotFound = getImageNotFound()
            this.url = urlImageNotFound
        }
    },
    methods: {
        imageLoadError() {
            const urlImageNotFound = getImageNotFound()
            this.url = urlImageNotFound
        }
    }
}
</script>
