<template>
    <Sidebar></Sidebar>
    <div class="overlay"></div>
    <main class="main-wrapper">
        <Loader></Loader>
        <Navbar></Navbar>
        <!-- ========== section start ========== -->
        <section class="section">
            <RouterView />
        </section>
        <!-- ========== section end ========== -->
        <Footer></Footer>
    </main>
</template>
<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Sidebar from './views/layouts/Sidebar.vue'
import Navbar from './views/layouts/Navbar.vue'
import Footer from './views/layouts/Footer.vue'
import Loader from '@/components/Loader.vue'

import { onMounted } from 'vue'
onMounted(() => {
    console.log('Script Mounted')
    const sidebarNavWrapper = document.querySelector(
        '.sidebar-nav-wrapper'
    ) as HTMLDivElement | null
    const mainWrapper = document.querySelector('.main-wrapper') as HTMLDivElement | null
    const menuToggleButton = document.querySelector('#menu-toggle') as HTMLDivElement | null
    const menuToggleButtonIcon = document.querySelector('#menu-toggle i') as HTMLDivElement | null
    const overlay = document.querySelector('.overlay') as HTMLDivElement | null

    menuToggleButton?.addEventListener('click', () => {
        sidebarNavWrapper?.classList.toggle('active')
        overlay?.classList.add('active')
        mainWrapper?.classList.toggle('active')

        if (document.body.clientWidth > 1200) {
            if (menuToggleButtonIcon?.classList?.contains('lni-chevron-left')) {
                menuToggleButtonIcon?.classList.remove('lni-chevron-left')
                menuToggleButtonIcon?.classList.add('lni-menu')
            } else {
                menuToggleButtonIcon?.classList.remove('lni-menu')
                menuToggleButtonIcon?.classList.add('lni-chevron-left')
            }
        } else {
            if (menuToggleButtonIcon?.classList?.contains('lni-chevron-left')) {
                menuToggleButtonIcon?.classList.remove('lni-chevron-left')
                menuToggleButtonIcon?.classList.add('lni-menu')
            }
        }
    })
    overlay?.addEventListener('click', () => {
        sidebarNavWrapper?.classList.remove('active')
        overlay?.classList.remove('active')
        mainWrapper?.classList.remove('active')
    })
})
</script>
