<template>
  <div class="container-fluid">
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>Dashboard</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
