<template>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-6">
                    <div class="header-left d-flex align-items-center">
                        <div class="menu-toggle-btn mr-20">
                            <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                <i class="lni lni-chevron-left"></i>
                            </button>
                        </div>
                        <h4>{{ full_title }}</h4>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-6">
                    <div class="header-right">
                        <!-- notification start -->
                        <div class="notification-box ml-15 d-none d-md-flex">
                            <button
                                class="dropdown-toggle"
                                type="button"
                                id="notification"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <i class="lni lni-alarm"></i>
                                <span>2</span>
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="notification"
                            >
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img
                                                src="../../../src/assets/images/lead/lead-6.png"
                                                alt=""
                                            />
                                        </div>
                                        <div class="content">
                                            <h6>
                                                John Doe
                                                <span class="text-regular">
                                                    comment on a product.
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet, consect etur adipiscing
                                                elit Vivamus tortor.
                                            </p>
                                            <span>10 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <div class="image">
                                            <img
                                                src="../../../src/assets/images/lead/lead-1.png"
                                                alt=""
                                            />
                                        </div>
                                        <div class="content">
                                            <h6>
                                                Jonathon
                                                <span class="text-regular">
                                                    like on a product.
                                                </span>
                                            </h6>
                                            <p>
                                                Lorem ipsum dolor sit amet, consect etur adipiscing
                                                elit Vivamus tortor.
                                            </p>
                                            <span>10 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- notification end -->
                        <!-- filter start -->
                        <div class="filter-box ml-15 d-none d-md-flex">
                            <button class="" type="button" id="filter">
                                <i class="lni lni-funnel"></i>
                            </button>
                        </div>
                        <!-- filter end -->
                        <!-- profile start -->
                        <div class="profile-box ml-15">
                            <button
                                class="dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="profile"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <div class="profile-info">
                                    <div class="info">
                                        <h6>Antum Siapa</h6>
                                        <div class="image">
                                            <img
                                                src="../../../src/assets/images/profile/profile-image.png"
                                                alt=""
                                            />
                                            <span class="status"></span>
                                        </div>
                                    </div>
                                </div>
                                <i class="lni lni-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                <li>
                                    <a href="#0"> <i class="lni lni-user"></i> View Profile </a>
                                </li>
                                <li>
                                    <a href="#0"> <i class="lni lni-alarm"></i> Notifications </a>
                                </li>
                                <li>
                                    <a href="#0"> <i class="lni lni-inbox"></i> Messages </a>
                                </li>
                                <li>
                                    <a href="#0"> <i class="lni lni-cog"></i> Settings </a>
                                </li>
                                <li>
                                    <a href="#0"> <i class="lni lni-exit"></i> Sign Out </a>
                                </li>
                            </ul>
                        </div>
                        <!-- profile end -->
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>
<script>
import { ref, watch, nextTick } from 'vue'
import { getAllThisRoute } from '@/helpers.ts'
import { useRoute, useRouter } from 'vue-router'
export default {
    setup() {
        const route = useRoute()
        const router = useRouter()

        return {
            route,
            router
            // listBreadCumb
        }
    },
    data() {
        watch(
            () => this.route.name,
            () => {
                console.log()
                console.log(this.route)
                if (this.route.name) {
                    this.full_title = getAllThisRoute(this.route)?.full_title ?? '-'
                }
            }
        )
        return {
            full_title: 'Tunggu ...'
        }
    }
}
</script>
