<template>
    <div>
        <aside class="sidebar-nav-wrapper">
            <div class="navbar-logo">
                <h4>ERP</h4>
                <a href="#">
                    <!-- <img src="../../../src/assets/images/logo/logo.svg" alt="logo" /> -->
                </a>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li class="nav-item a">
                        <RouterLink to="/">
                            <span class="icon">
                                <i class="fa-solid fa-gauge-high"></i>
                            </span>
                            <span class="text">Dashboard</span>
                        </RouterLink>
                    </li>
                    <li class="nav-item nav-item-has-children">
                        <a
                            href="#0"
                            class="collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_1"
                            aria-controls="ddmenu_1"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="icon">
                                <i class="fa-solid fa-list"></i>
                            </span>
                            <span class="text">Master</span>
                        </a>
                        <ul id="ddmenu_1" class="collapse dropdown-nav">
                            <RouterLink to="/master/role">Role</RouterLink>
                            <RouterLink to="/master/customer">Kustomer</RouterLink>
                            <RouterLink to="/master/unit">Satuan</RouterLink>
                            <RouterLink to="/master/product">Produk</RouterLink>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-children">
                        <a
                            href="#0"
                            class="collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_2"
                            aria-controls="ddmenu_2"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="icon">
                                <i class="fa-solid fa-arrows-turn-right"></i>
                            </span>
                            <span class="text">Transaksi</span>
                        </a>
                        <ul id="ddmenu_2" class="collapse dropdown-nav">
                            <RouterLink to="/transaction/receive_order"
                                >Penerimaan Pesanan</RouterLink
                            >
                        </ul>
                    </li>
                    <li class="nav-item nav-item-has-children">
                        <a
                            href="#1"
                            class="collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#ddmenu_11"
                            aria-controls="ddmenu_11"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            <span class="text">Components</span>
                        </a>
                        <ul id="ddmenu_11" class="collapse dropdown-nav">
                            <RouterLink to="/component/form">Form</RouterLink>
                            <RouterLink to="/component/datatable">Datatable</RouterLink>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</template>
