<template>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="card-style col-md-12">
                        <div class="card-header">
                            <ActionButtonForm @back="back" @save="save" :disableSave="isPreview" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <TextField ref="code" _label="Nomor" :_readonly="true" />
                                    <TextField
                                        ref="date"
                                        _label="Tanggal"
                                        _type="date"
                                        :_required="true"
                                        :_readonly="isPreview"
                                    />
                                    <PopupField
                                        ref="customer_id"
                                        :_label="'Kustomer'"
                                        :_readonly="isPreview"
                                        :_api="apiCustomer"
                                        :_columns="columnsCustomer"
                                        :_displayField="'name'"
                                        :_valueField="'id'"
                                        :_required="true"
                                    />
                                    <TextField
                                        ref="driver"
                                        _label="Driver"
                                        :_readonly="isPreview"
                                        :_required="true"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <TextField
                                        ref="total_amount"
                                        _label="Sub Total"
                                        _type="rupiah"
                                        :_readonly="true"
                                        :_required="true"
                                    />
                                    <TextField
                                        ref="transport"
                                        _label="Akomodasi"
                                        _type="rupiah"
                                        :_readonly="isPreview"
                                        :_required="true"
                                        :_listener="akomodasiListener"
                                    />
                                    <TextField
                                        ref="grand_total"
                                        _label="Grand Total"
                                        _type="rupiah"
                                        :_readonly="true"
                                        :_required="true"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-style">
                                        <div class="row">
                                            <div class="d-flex justify-content-between">
                                                <h4 class="w-100">Detail Produk</h4>
                                                <MultiPopupField
                                                    ref="detailPopup"
                                                    :_label="'Produk'"
                                                    :_readonly="isPreview"
                                                    :_api="apiPopupProduct"
                                                    :_columns="columnsPopupProduct"
                                                    :_displayField="'name'"
                                                    :_valueField="'id'"
                                                    :_required="true"
                                                    @getSelectedRows="getSelectedRows"
                                                />
                                            </div>
                                        </div>
                                        <hr />
                                        <Datatable
                                            ref="table"
                                            :_columns="columnsDetailProduct"
                                            :_sync="transaction_detail"
                                            @gridChange="onGridChange"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { useRoute, useRouter } from 'vue-router'
import ImageSrc from '../../../_handler/ImageSrc.vue'
import Decoder from '../../../_handler/Decoder.vue'

import {
    axiosApi,
    getAllThisRoute,
    getValidDataFromRefs,
    getAllDataFromRefs,
    setAllDataFromRefs,
    formatThousand,
    formatRPThousand,
    thousandToDefault,
    rpToDefault,
    currencyToDefault
} from '@/helpers.ts'
import { main } from '@popperjs/core'
export default {
    name: 'Form Penerimaan Pesanan',
    components: {
        Decoder
    },
    created() {
        window.tes = this
    },
    data() {
        const route = useRoute()
        const router = useRouter()
        const allRoute = getAllThisRoute(route)
        const columns = [
            'code',
            'date',
            'customer_id',
            'driver',
            'total_amount',
            'transport',
            'grand_total',
            'status'
        ]

        const idEdit = route.params.id ?? null
        const isEdit = idEdit ? true : false
        const isPreview = route.query.preview ? true : false
        return {
            modalShow: false,
            model: 'receive_order',
            dataEdit: {},
            transaction_detail: [],
            idEdit,
            isEdit,
            isPreview,
            route,
            router,
            allRoute,
            columns
        }
    },
    computed: {
        apiCustomer() {
            return {
                model: 'customer',
                params: {}
            }
        },
        columnsCustomer() {
            return [
                { headerName: '#', field: '__auto', maxWidth: 60, suppressSizeToFit: true },
                { headerName: 'Nama', field: 'name', width: 400 },
                { headerName: 'Alamat', field: 'address', width: 630 }
            ]
        },
        apiPopupProduct() {
            return {
                model: 'product',
                params: {}
            }
        },
        columnsPopupProduct() {
            return [
                { headerName: '#', field: '__auto', maxWidth: 60, suppressSizeToFit: true },
                { headerName: 'Nama', field: 'name' },
                {
                    headerName: 'Foto',
                    field: 'image',
                    cellStyle: { textAlign: 'center' },
                    width: 100,
                    cellRenderer: ImageSrc
                },
                {
                    headerName: 'Harga',
                    field: 'price',
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    headerName: 'Harga Jual',
                    field: 'selling_price',
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    headerName: 'Satuan',
                    field: 'unit.name',
                    width: 100,
                    cellStyle: { textAlign: 'center' },
                    cellRenderer: (params) => {
                        let data = params.data['unit.name']
                        return data
                    }
                },
                {
                    headerName: 'Ukuran',
                    field: 'unit.size',
                    width: 100,
                    cellStyle: { textAlign: 'center' },
                    cellRenderer: (params) => {
                        let data = params.data['unit.size']
                        return data
                    }
                },
                { headerName: 'Deskripsi', field: 'description' }
            ]
        },
        columnsDetailProduct() {
            return [
                { headerName: '#', field: '__auto', maxWidth: 60, suppressSizeToFit: true },
                { headerName: 'Produk', field: 'name', width: 160 },
                {
                    headerName: 'Satuan',
                    field: 'unit_name',
                    width: 100,
                    cellStyle: { textAlign: 'center' }
                },
                {
                    headerName: 'Uk.',
                    field: 'unit_size',
                    width: 100,
                    cellStyle: { textAlign: 'center' }
                },
                {
                    headerName: 'Harga',
                    field: 'price',
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    headerName: 'Jumlah',
                    field: 'qty',
                    width: 100,
                    cellStyle: { textAlign: 'right' },
                    editable: !this.isPreview ? true : false,
                    cellEditor: Decoder,
                    component: 'TextField',
                    componentType: 'thousand',
                    valueFormatter: formatThousand
                },
                {
                    headerName: 'Subtotal',
                    field: 'subtotal',
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                }
            ]
        }
    },
    mounted() {
        if (this.idEdit) {
            axiosApi(this.model + `/${this.idEdit}`).then(({ content }) => {
                this.dataEdit = content
                setAllDataFromRefs(this.$refs, this.columns, content)
                const result = this.sanzTransactionDetail(content.receive_order_detail)
                this.transaction_detail = result
                this.$refs.table.load()
            })
        }
    },
    methods: {
        onGridChange(params) {
            const rowIdx = params.node.rowIndex
            const cols = params.colDef
            const field = cols.field
            const data = params.data
            let val = params.value

            // handle listener qty field
            if (field === 'qty') {
                let price = currencyToDefault(data.price) ?? 0
                val = thousandToDefault(val) ?? 0
                const subtotal = price * val
                console.log('price ', price)
                console.log('val ', val)
                console.log('subtotal ', subtotal)
                this.transaction_detail[rowIdx]['subtotal'] = subtotal
                this.detailKeyRefresh()
                this.sumHeader()
            }
        },

        detailKeyRefresh() {
            this.$refs.table.tableKey++
        },
        getSelectedRows(data) {
            const result = this.sanzTransactionDetail(data)
            this.transaction_detail = result
            this.$refs.table.load()
            this.$refs.detailPopup.close()
        },
        sanzTransactionDetail(data) {
            data.forEach((val) => {
                val.price = val.selling_price ?? val.price
                val.product_id = val.id
                val.unit_id = 1
                val.unit_name = val['unit.name']
                val.unit_size = val['unit.size']
            })
            return data
        },
        akomodasiListener(evt, type, val, el) {
            if (['keyup', 'keydown', 'focus', 'blur'].includes(type)) {
                this.sumHeader()
            }
        },
        sumHeader() {
            let total_amount = 0
            total_amount =
                this.transaction_detail.reduce(
                    (sum, item) => sum + currencyToDefault(item.subtotal),
                    0
                ) ?? 0
            if (total_amount?.toString() == 'NaN') {
                total_amount = 0
            }
            const transport = this.$refs.transport.getValue()
            console.log('transport', transport)
            const grand_total = total_amount + transport
            console.log('total_amount ', total_amount)
            console.log('grand_total ', grand_total)
            this.$refs.total_amount.setValue(total_amount ?? 0)
            this.$refs.grand_total.setValue(grand_total ?? 0)
        },
        back() {
            this.router.replace(`/${this.allRoute.seq}/${this.allRoute.group}`)
        },
        save() {
            // validate this data
            if (!getValidDataFromRefs(this.$refs, this.columns)) {
                return
            }
            // collect data
            const data = getAllDataFromRefs(this.$refs, this.columns)

            data['receive_order_detail'] = this.transaction_detail
            // send data
            if (!this.isEdit) {
                // CREATE
                var url = this.model
                var method = 'POST'
            } else {
                // EDIT
                var url = this.model + `/${this.idEdit}`
                var method = 'PUT'
            }
            const send = axiosApi(url, method, data)
            send.then((response) => {
                alertify.success(response.message)
                this.back()
            })
        },
        open() {
            this.$refs.modal.open()
        }
    }
}
</script>
