<template>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="title mb-30">
                                <Datatable
                                    ref="table"
                                    :_api="api"
                                    :_columns="columns"
                                    @rowClicked="rowClicked"
                                >
                                    <template v-slot:actions>
                                        <ActionButtonIndex
                                            :show="dataClicked ? true : false"
                                            @onCreate="onCreate"
                                            @onPreview="onPreview"
                                            @onEdit="onEdit"
                                            @onDelete="onDelete"
                                        />
                                    </template>
                                </Datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { useRoute, useRouter } from 'vue-router'
import { axiosApi, formatRPThousand } from '@/helpers.ts'
export default {
    name: 'receive_order',
    data() {
        const route = useRoute()
        const router = useRouter()
        return {
            model: 'receive_order',
            route,
            router,
            dataClicked: null
        }
    },
    computed: {
        api() {
            return {
                model: this.model,
                params: {}
            }
        },
        columns() {
            return [
                { headerName: '#', field: '__auto', maxWidth: 60, suppressSizeToFit: true },
                { headerName: 'Tanggal', field: 'date', width: 110 },
                { headerName: 'Nomor', field: 'code', width: 150 },
                { headerName: 'Driver', field: 'driver', editable: true, width: 120 },
                {
                    headerName: 'Sub Total',
                    field: 'total_amount',
                    width: 150,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    headerName: 'Akomodasi',
                    field: 'transport',
                    width: 130,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    headerName: 'Total',
                    field: 'grand_total',
                    width: 130,
                    cellStyle: { textAlign: 'right' },
                    valueFormatter: formatRPThousand
                },
                {
                    field: 'Status',
                    width: 100,
                    cellRenderer: (params) => {
                        let data = params.data
                        if (data.status == 'POSTED') {
                            var badge = `<span class="badge bg-success">${data.status}</span>`
                        } else {
                            var badge = `<span class="badge bg-primary">${data.status}</span>`
                        }
                        return badge
                    }
                }
            ]
        }
    },
    methods: {
        rowClicked(event) {
            this.dataClicked = event
        },
        onCreate(event) {
            this.router.replace(this.route.path + '/form')
        },
        onPreview() {
            const id = this.dataClicked.data.id
            this.router.replace(this.route.path + '/form' + `/${id}?preview=true`)
        },
        onEdit() {
            const id = this.dataClicked.data.id
            this.router.replace(this.route.path + '/form' + `/${id}`)
        },
        onDelete() {
            const self = this
            const id = self.dataClicked.data.id
            alertify.confirm(
                'Perhatian',
                `Anda yakin ingin menghapus baris nomor ${self.dataClicked.rowIndex + 1} ini ?`,
                () => {
                    axiosApi(self.model + `/${id}`, 'DELETE').then((response) => {
                        self.$refs.table.load()
                        alertify.success(response.message)
                    })
                },
                () => {}
            )
        }
    }
}
</script>
